<div><button align = "right" >Create New</button>
    </div>
<div><table border=5>
   <thead> <tr><th>Quiz Name</th>
    <th>Version</th>
    <th>Category</th>
    <th>Level</th>
    <th>Created By</th>
    <th>Status</th>
    <th>Action</th></tr></thead>
<tbody *ngFor="let obj of object"> 
   <tr>
        <td>{{obj.quiz_name}}</td>
        <td>{{obj.modified_count}}</td>
        <td>{{obj.category.categoryName}}</td>
        <td>{{obj.level.levelName}}</td>
        <td>{{obj.created_by}}</td>
        <td>{{obj.status}}</td>
        <td><span><button><img src="assets/Images/edit.jpg" alt="Edit"  height=30 width=30 ></button>
                 <button><img src="assets/Images/clone.png" alt="delete"  height=30 width=30 (click)="myFunc('hai')"></button>
                 <button><img src="assets/Images/delete.png" alt="delete"  height=30 width=30 ></button>
        </span></td>
    </tr>
</tbody>
</table>
</div>